<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfIKRz1UeVGJZreohlEWNQG7unqUDIVBo</string>
	<key>GCM_SENDER_ID</key>
	<string>52088927025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bennys-House.Touch-and-Go-v2</string>
	<key>PROJECT_ID</key>
	<string>ben-and-jody-login-ea8f7</string>
	<key>STORAGE_BUCKET</key>
	<string>ben-and-jody-login-ea8f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52088927025:ios:01918ca63e5d7c616cf610</string>
	<key>DATABASE_URL</key>
	<string>https://ben-and-jody-login-ea8f7-default-rtdb.firebaseio.com</string>
</dict>
</plist>